configuration {
    show-icons: false;
}

* {
    background: #171717;
    foreground: #d9d9d9;
    selection-background: #292929;
    border-colour: #242424;
    font: "Iosevka Nerd Font 18";
}

window {
    transparency: "real";
    location: center;
    anchor: center;
    width: 460px;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
    background-color: @background;
}

mainbox {
    padding: 10px;
    border: 2px;
    border-color: @border-colour;
    border-radius: 0px;
    background-color: transparent;
    children: [ message, listview ];
}

message {
    enabled: true;
    margin: 0px 0px 6px 0px;
    padding: 10px 14px;
    border: 0px;
    background-color: @selection-background;
    text-color: @foreground;
}

textbox {
    background-color: transparent;
    text-color: inherit;
    vertical-align: 0.5;
    horizontal-align: 0.0;
}

listview {
    enabled: true;
    columns: 1;
    lines: 4;
    cycle: true;
    dynamic: false;
    scrollbar: false;
    layout: vertical;
    flow: vertical;
    fixed-height: true;
    fixed-columns: true;
    spacing: 6px;
    background-color: transparent;
}

element {
    enabled: true;
    padding: 12px 18px;
    border: 0px;
    border-radius: 0px;
    background-color: transparent;
    text-color: @foreground;
    cursor: pointer;
}

element selected.normal,
element selected.active,
element selected.urgent {
    background-color: @selection-background;
    text-color: @foreground;
}

element-text {
    background-color: transparent;
    text-color: inherit;
    cursor: inherit;
    vertical-align: 0.5;
    horizontal-align: 0.0;
}
